

<li id="comment-<%= comment.id %>">
  <span class="content"><%= comment.user.username %></span>
  <span class="content"><%= comment.description %></span>
  <span class="content"><%= comment.content %></span>

</li>