<%= form_for(@comment) do |f| %>

	<%= f.hidden_field :thing_id %>
  <div class="form-horizontal">
  <div class="form-group">
    <div class="col-lg-12">
    	<%= f.text_area :content, placeholder: "Compose new comment...",  class: "form-control" %>
    </div>
    </div>
  </div>

		<%= f.submit "Comment", class: "btn btn-primary" %>
<% end %>