

  <table class="table table-striped">
    <thead>
      <tr>
        <th>User:</th>
        <th>Possible solution:</th>
        <th>Description:</th>
        <th>Problems with this solution:</th>

        <th colspan="3"></th>
      </tr>
    </thead>


    <tbody>
		<%for solution in @thing.solutions %>
        <tr>
          <td><%= solution.thing.user.email %>   </td>
          <td><%= solution.kind %>     </td>
          <td><%= solution.description %>    </td>
          <td><%= solution.issues_description %>   </td>		  		  
        </tr>
		<%end%>
    </tbody>
  </table>


