

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Link:</th>
        <th>Type:</th>
        <th>Possible solution:</th>
        <th>Problems with this solution:</th>
      </tr>
    </thead>


    <tbody>
		<%for solution in @thing.solutions %>
        <tr>
          <td><%= solution.link %>     </td>
          <td><%= solution.kind %>     </td>
          <td><%= solution.description %>    </td>
          <td><%= solution.issues_description %>   </td>		  		  
        </tr>
		<%end%>
    </tbody>
  </table>


