

	<h3>how it works</h3>
	
		<div class="container-fluid">
			<div class="row">
		
				<div class="col-sm-3 col-centered">
					<div class="text-center">					
					<h2><i class="fa fa-file-text-o"></i></h2></div>
					<p><b>(1) describe</b> [X], something you want done that doesn't have a great solution (yet).</p>
					</div>


				<div class="col-sm-3 col-centered">
					<div class="text-center">
					<h2><i class="fa fa-lightbulb-o"></i></h2></div>
					<p><b>(2) browse</b> our archives of [X]s, and use the knowledge to build and share solutions.</p>
					</div>
			
				<div class="col-sm-3 col-centered">
					<div class="text-center">
					<h2><i class="fa fa-envelope-o"></i></h2></div>
					<p><b>(3) get alerts</b> when companies, startups, and hackers create things that do [X] for you.</p>
					</div>
					
					
				</div>
		</div>