

	<h3>how it works</h3>

		<div class="container-fluid">
			<div class="row">
		
				<div class="col-xs-3 col-centered">
					<div class="text-center">					
					<h2><i class="fa fa-file-text-o"></i></h2></div>
					<p><b>(1) describe</b> things you wish existed.</p>
					</div>


				<div class="col-xs-3 col-centered">
					<div class="text-center">
					<h2><i class="fa fa-search"></i></h2></div>
					<p><b>(2) get alerts</b> when the things you want are first created.</p>
					</div>
			
				<div class="col-xs-3 col-centered">
					<div class="text-center">
					<h2><i class="fa fa-lightbulb-o"></i></h2></div>
					<p><b>(3) influence</b>
						companies, startups and hackers who are turning your things into reality	.</p>
					</div>
					
					<div class="col-xs-3 col-centered">
						<h2></h2>
						<p><b></b></p>
						</div>
				</div>
		</div>