

	<h3>how it works</h3>
	
		<div class="container-fluid">
			<div class="row">
		
				<div class="col-sm-3 col-centered">
					<div class="text-center">					
					<h2><i class="fa fa-file-text-o"></i></h2></div>
					<p><b>(1) you describe</b> [X], something you want done that doesn't have a great solution (yet).</p>
					<br>
					<h4><small><i>'a bougie coffee maker, to create professional pourover quality, at 195 degrees. < $150.'</i></small></h4>
					</div>


				<div class="col-sm-3 col-centered">
					<div class="text-center">
					<h2><i class=" fa fa-search"></i></h2></div>
					<p><b>(2) we search</b> kickstarter, product hunt, and the web for new solutions every month.</p>
					<br>
					<h4><small><i>monthly 	search: 'connected coffee maker,' 'new product pourover,' 'kickstarter coffee maker.'</i></small></h4>
					</div>
			
				<div class="col-sm-3 col-centered">
					<div class="text-center">
					<h2><i class="fa fa-envelope-o"></i></h2></div>
					<p><b>(3) you get email</b> alerts when people create things that do [X] for you.</p>
					<br>
					<h4><small><i>taylor, the '<u>bougie coffee maker</u>' you wanted 8 months ago launches this week on Kickstarter! </i></small></h4>
					</div>
					
					
				</div>
		</div>