<% title("Home Page") %>


<div class="text-center">
	
	<br	>
	<div class="col-xs-6 col-centered">
		<div class="text-center">
	<p>welcome to</p>

	<h1>thing to do [X]</h1>

	<p>a wishlist for products that don't exist (yet).</p>
	<br>
	<p>– – –</p>
</div>
</div>

<%= render 'pages/how_it_works.erb' %>

	<br>
	<p>– – –</p>
	<div class="col-xs-6 col-centered">
		<div class="text-center">
	<h3>for startups</h3>
	<p>our mission is to help solve people’s problems. <br>to learn more, email <b><u>bd@thing-to-do-x.com</b></u>.</p>
</div>
</div>

<br>
<br>
<a><%= link_to "get started >", new_user_registration_path, :class => 'btn btn-primary' %></a>
<br>
<br>

</div>