<% title("Home Page") %>


<div class="text-center">
	
	<br	>
	<div class="col-xs-6 col-centered">
		<div class="text-center">
	<p>welcome to</p>

	<h1>thing to do [X]</h1>

	<p>describe things you wish existed. if at least 10 people want the same thing, we’ll email you when a product, startup or hack solves your problem.</p>
	<br>
	<p>– – –</p>
</div>
</div>

	<h3>how it works</h3>

		<div class="container-fluid">
			<div class="row">
		
				<div class="col-xs-3 col-centered">
					<div class="text-center">					
					<h2><i class="fa fa-file-text-o"></i></h2></div>
					<p><b>(1) describe</b>
						describe things you wish existed.</p>
					</div>

				<div class="col-xs-3 col-centered">
					<div class="text-center">
						<h2><i class="fa fa-user-plus"></i></h2></div>
					<p><b>(2) discover</b>
						browse other people’s product wishlists, and follow things you also want.</p>
					</div>
			
				<div class="col-xs-3 col-centered">
					<div class="text-center">
					<h2><i class="fa fa-lightbulb-o"></i></h2></div>
					<p><b>(3) suggest</b>
						suggest products, startups, and hacks to  help other people.</p>
					</div>
				</div>
			<div class="row">			
				<div class="col-xs-3 col-centered">
					<div class="text-center">
					<h2><i class="fa fa-search"></i></h2></div>
					<p><b>(4) be helped</b>
						if at least 10 people want something, and no one has suggested solutions, we’ll research 		it ourselves.</p>
					</div>
			
				<div class="col-xs-3 col-centered">
					<div class="text-center">
					<h2><i class="fa fa-cog"></i></h2></div>
					<p><b>(5) influence</b>
						as followers grow, we’ll seek out companies building the things you want – and give you 		the option to participate in their development process.</p>
					</div>
					
					<div class="col-xs-3 col-centered">
						<h2></h2>
						<p><b></b></p>
						</div>
				</div>
		</div>
	<br>
	<p>– – –</p>
	<div class="col-xs-6 col-centered">
		<div class="text-center">
	<h3>for startups</h3>
	<p>our mission is to make it easier to build things that solve people’s problems. we want to connect startups with early adopters. <b><u> click here to learn more.</b></u></p>
</div>
</div>

<br>
<br>
<a><%= link_to "get started >", new_user_registration_path, :class => 'btn btn-primary' %></a>
<br>
<br>


	


</div>