<% title("Home Page") %>


<div class="text-center">
	<!-- <div class="row">
		<br	>
		<div class="col-xs-6 col-centered">
			<div class="text-center">

		<h1>thing to do [X]</h1>

		<p>a wishlist for products that don't exist (yet).</p>
		<br>
		</div>
	</div>
</div> -->

<br>
<div class="row">
	<div class="col-xs-8 col-centered">
		<div class="text-center">
			
		</div>
	</div>
</div>

<div class="row">
	<h1>I wish there were a thing to:</h1>
	<br>
	<%= form_for(@submission) do |f| %>
			<div class="col-xs-6 col-centered">
				<%= f.text_area :problem_description, placeholder: "\r\n(1) wishlist products that don't exist, and email me when someone builds them.\r\n\r\n(2) catalyze people to solve problems that irk me.\r\n\r\n(3) reach early adopters for my startup, so I solve the right problem.", class: "form-control", rows: 14 %>
			</div>
	<% end %>
</div>
<br>
<br>

<div class=row>
	<div class="col-xs-5 col-centered">
	<a><%= link_to "post your need for startups to solve >", new_user_registration_path, :class => 'btn btn-primary btn-lg btn-block' %></a>
	<!-- <br>
	<a><%= link_to "learn more >", new_user_registration_path, :class => 'btn btn-default btn-lg btn-block' %></a> -->
	</div>
</div>

<br>
<br>

</div>