//NOTE: LINE 222 OF RAILSBRICKS IS COMMENTED OUT, SO PLACEHOLDER FOR WHOLE APP IS DARKER THAN USUAL


/*
 * Overwritten by RailsBricks
 *
 *= require_self
 */

//CSS JUST FOR NEW HOME PAGE DESIGN

@import "railsbricks_custom";

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}


//.navbar-default .navbar-toggle .icon-bar {
//    background-color: black;
//}