/*
 * Overwritten by RailsBricks
 *
 *= require_self
 */

//CSS JUST FOR NEW HOME PAGE DESIGN
::-webkit-input-placeholder {
 font-size: 20px;
 color: #6b6b6b;
}

@import "railsbricks_custom";

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}


