<h1>Notifications:</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Object:</th>
			<th>User:</th>
			<th>Event type:	</th>
			<th>Time:	</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @activities.each do |activity| %>
			<tr>
			<td>placeholder</td>
			<td><%= User.find(activity.owner_id).email %></td>
			<td><%= activity.key %>   </td>
			<td><%= time_ago_in_words(activity.created_at)  %>   ago</td>
			</tr>

		<% end %>
	
	</tbody>
</table>