
		  

<% if !user_signed_in? %>

        <%= render 'layouts/navigation_signed_out' %>

<% else %>

        <%= render 'layouts/navigation_signed_in' %>

<% end %>





      </ul>
    </div>
  </div>
</nav>






